.form-inside{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.form-inside > div{
    
 width: 25%
}
.form-inside label{
    font-weight: 600;
    text-align: center;
}

.photo{
    position: absolute;
    width: 10rem;
    height: 10rem;
    border: 1px solid black;
    top: 15%;
    right: 5%;
}


.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}